html, body {
  margin: 0px;
}

html {
  font-family: 'antoniolight', sans-serif;
  background: white;
}

body {
    width: 100%;
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #888;
    border-radius: 3px;
    background-color: #999;
}

li > strong, h2 > strong {
  font-family: 'ds-digitalnormal', monospace;
  font-size: 130%;
  letter-spacing: 0;
}

h1,h2 {
  text-align: center;
  background-color: black;
  color: yellowgreen;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 1px black,
               2px 2px 1px yellow;
}

.nav {
  text-decoration: none;
  font-size: 25px;
  color: lime;
  padding-right: 20px;
}
a:hover {
  color: #000;
}

h2 {
  clear: both;
  text-align: center;
  padding-top: 15px;
}

ul {
  padding: 0;
  margin: 0;
}


ul {
    text-align: center;
    margin-top: 20px;
}

ul li {
    padding-bottom: 20px;
}

li {
  list-style-type: none;
}

h2 + div {
    padding: 20px 0 10px;
}
.btn {
  background: yellowgreen ;
  padding: 5px;
  margin: 10px;
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 5px;
  border: solid 2px #fff;
}
.btn:hover {
  background: #fff;
  border: solid 2px yellowgreen;
}
input[type="text"] {
  padding: 10px;
  width: 20%;
  border: solid 5px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
input[type="text"]:focus, .style-2 input[type="text"].focus {
  border: solid 5px #969696;
}
